<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calcare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app/view/css/index.css"/>
    <link rel="shortcut icon" href="app/view/img/favicon.ico" type="image/x-icon">
</head>
<body>
<header class="header">
    <div class="user" id="user"><p>{user}</p></div>
    <div class="logo">
        <img src="app/view/img/logo.jpg" id="ft-logo"/>
    </div>
    <div class="nav">
        <ul>
            <li id="lg">Limestone Grey</li>
            <li id="lc">Limestone Cream</li>
            <li id="lgd">Limestone Graffiata Dark Wood</li>
            <li id="psc">Piscinas</li>
            <li id="mv">Móveis</li>
        </ul>
    </div>
</header>

<section class="banners">
    <div class="container">
        <img src="app/view/img/banners/b1.png"/>
    </div>
</section>

<section class="info">
    <img src="app/view/img/banners/info.png"/>
</section>

<section class="vitrine">
    {vitrine}
</section>

<footer class="footer">
    <img src="app/view/img/Footer.png" />
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="app/view/js/index.js"></script>
</body>
</html>